@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --color-primary: #901C1C;
  --color-secondary: #D3573C;
  --color-grey: #525252;
  --color-light-grey: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-DM_sans);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-grey: var(--color-grey);
  --color-light-grey: var(--color-light-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}